* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background: #c5c5c5;
  padding-top: 20px;
}
.select{
  background-color: blue;
}
.gauche,
.droit {
  width: 30rem;
  height: 30rem;
  background: white;
}
.gauche > p,
.droit > p {
  font-size: medium;
  font-size: 18px;
  padding: 1em;
  margin: 1em 0;
}
.gauche > p:hover,
.droit > p:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.action {
  width: 20rem;
  display: flex;
  flex-direction: column;
  line-height: 20rem;
  font-size: 5rem;
  align-items: center;
  justify-content: center;
}

.action button {
  width: 10rem;
  height: 2rem;
}
